#app {
  height: 100svh;
  width: 100svw;
  position: absolute;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

#rotate-alert {
  background-color: rgb(20,20,20);
  position: absolute;
  top: 0;
  left: 0;
  height: 100svh;
  width: 100svw;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  opacity: 0;
}

#rotate-alert img {
  height: 150px;
  width: 150px;
}

.content-container {
  height: 100svh;
  width: 100svw;
  position: relative;
  /* border: 5px solid white; */
  transition: 0.4s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .mobile {
    display: none !important;
  }

  #intro-desktop-container {
    display: flex !important;
  }
}

#intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#intro-photo, #intro-name, #intro-major {
  transition: 1s;
  position: relative;
  top: 50%;
  opacity: 0;
}

#intro-photo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

#intro-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-size: 40px;
}


#intro-major {
  color: rgba(255, 255, 255, 0.8);
  font-size: 25px;
  font-weight: 500;
}

/* Desktop */

#intro-desktop-container {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 50px;
  position: relative;
}

#intro-name-and-major {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  position: relative;
  transition: 0.7s;
  right: 50%;
  opacity: 0;
}

#intro-name-and-major img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin-bottom: 20px;
}

#intro-name-and-major h1 {
  font-size: clamp(50px, 5svw, 75px);
  color: white;
}

#intro-name-and-major h2 {
  font-size: clamp(30px, 3svw, 45px);
  color: rgba(255, 255, 255, 0.8);
  font-weight: 300;
}

#intro-text {
  width: 50%;
  max-width: 800px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  font-weight: 200;
  line-height: 55px;
  position: relative;
  left: 50%;
  transition: 0.7s;
  opacity: 0;
}

#intro-text span {
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
}




.scroll-indicator {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  height: 70px;
  width: 70px;
  opacity: 0;
  transition: 1s;
}

.scroll-indicator img {
  height: 100%;
  width: 100%;
  animation: hoverbounce alternate 2s infinite ease-in-out;
}

@keyframes hoverbounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }

}

#mobile-about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px 20px;
  height: min-content;
  position: relative;
}

#about-title {
  color: white;
  font-size: 35px;
  margin-bottom: 10px;
  transition: 0.7s ease-out;
  position: relative;
  left: 50%;
  opacity: 0;
}

#about-text {
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  text-align: center;
  font-weight: 300;
  line-height: 35px;
  max-width: 650px;
  transition: 0.7s ease-out;
  position: relative;
  right: 50%;
  opacity: 0;
}

#about-text span {
  font-weight: 500;
  color: rgba(255, 255, 255, 1)
}

#projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: min-content;
  width: 100%;
  padding: 20px;
  transition: 0.7s ease-out;
  opacity: 0;
  position: relative;
  top: 50%;
}

#swiper-container {
  height: 100%;
  width: 100svw;
  /* background-color: red; */
}

#projects-title {
  color: white;
  font-size: 35px;
  margin-bottom: 15px;
}

@media screen and (min-width: 1200px) {
  #projects-title {
    font-size: 60px;
  }
}

#links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: min-content;
  width: 100%;
}

#links-buttons-container {
  height: 120px;
  width: 100%;
  min-width: 375px;
  max-width: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.links-button {
  height: 60px;
  width: 60px;
  border: none;
  /* border-radius: 50%; */
  outline: none;
  overflow: hidden;
  cursor: pointer;
  transition: 0.4s;
  opacity: 0.6;
  background-color: transparent;
}

.links-button:hover {
  opacity: 1;
  transform: scale(1.1);
}

.links-button img {
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  #links-buttons-container {
    height: 150px;
    width: 100%;
    min-width: 375px;
    max-width: 600px;
  }

  .links-button {
    height: 100px;
    width: 100px;
  }
}